/* ============= Global Variable  ============= */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --white-color: #ffffff;
  --gray-color: #e0e0e0;
  --gray-color-6c: #6c6c6c;
  --black-color: #000000;
  --black-color-18: #18191f;
  --green-color-26: #264653;
  --orange-color-E7: #e76f51;
  --sky-color-23: #23a6f0;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h5,
p,
a,
button,
span,
li {
  font-family: "Poppins", sans-serif;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--gray-color);
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}

.home_title {
  margin-bottom: 3rem;
}
.home_title h2 {
  color: var(--black-color);
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 7.2rem;
}
.home_title h2 span {
  color: var(--orange-color-E7);
}
/* ============= Header Section ============= */
.header_wrapper {
  padding: 2rem 0;
  background-color: var(--green-color-26);
}
.header_wrapper .container {
  justify-content: flex-end;
}
.header_wrapper .nav-link,
.header_wrapper .login_navbar a {
  color: var(--white-color);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.header_wrapper .nav-link:hover {
  color: var(--orange-color-E7);
}
.header_wrapper .navbar-nav li {
  margin-right: 3rem;
}

.header_wrapper .navbar-nav .active {
  color: var(--orange-color-E7);
}

.header_wrapper .login_navbar {
  padding: 1rem 2.4rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  background-color: var(--orange-color-E7);
}
.header_wrapper .login_navbar:hover {
  background-color: #e76f51ea;
}

/* ============= Hero Section ============= */
.hero_wrapper {
  margin-top: -1px;
  padding: 4rem 0 2rem 0;
  background-color: var(--green-color-26);
}
.hero_wrapper .hero_content h5 {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--white-color);
}
.hero_wrapper .hero_content h2 {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 7.8rem;
  margin: -1rem 0 1rem 0;
  color: var(--white-color);
}
.hero_wrapper .hero_content p {
  margin-bottom: 3rem;
}
.hero_wrapper .hero_content a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 1rem 4rem;
  color: var(--white-color);
  background-color: var(--orange-color-E7);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hero_wrapper .hero_content a:hover {
  background-color: #e76f51ea;
}
.hero_wrapper .hero_img {
  text-align: center;
}
.hero_wrapper .hero_img img {
  width: 55rem;
  height: 44rem;
}
.hero_wrapper .purchase_items {
  text-align: center;
  margin-top: 2rem;
}
.hero_wrapper .purchase_content h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--black-color-18);
  margin: 2rem 0 1rem 0;
}
.hero_wrapper .purchase_content h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--orange-color-E7);
}
.hero_wrapper .modal-footer button {
  color: var(--white-color);
  background-color: var(--orange-color-E7);
}

/* ============= Features Section ============= */
.features_wrapper {
  margin-top: 8rem;
}

.features_wrapper .home_title {
  margin-bottom: 5rem;
}

.features_wrapper .home_title h5 {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--orange-color-E7);
}
.features_wrapper .home_title h5::before {
  content: " ";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 6%;
  height: 2px;
  background-color: var(--orange-color-E7);
}
.features_wrapper .feature_img img {
  width: 28.8rem;
  height: 24.3rem;
}
.features_wrapper .gray_sclae img {
  mix-blend-mode: luminosity;
}

/* ============= News Section ============= */
.news_wrapper {
  margin-top: 10rem;
}
.news_wrapper .news_items_section {
  padding: 2rem;
  background: var(--white-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.news_wrapper .news_img {
  text-align: center;
}
.news_wrapper .news_img img {
  width: 100%;
  height: 26rem;
}
.news_wrapper .news_content {
  margin-top: 3rem;
}
.news_wrapper .news_content h3 {
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: var(--black-color-18);
}
.news_wrapper .news_content p {
  line-height: 32px;
  color: var(--gray-color-6c);
  margin-bottom: 4rem;
}
.news_wrapper .news_content a {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 1rem 2.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--orange-color-E7);
  border: 1px solid var(--orange-color-E7);
}
.news_wrapper .news_content a:hover {
  color: var(--white-color);
  background-color: var(--orange-color-E7);
}

/* ============= Reivew Section============= */
.reivew_wrapper {
  margin-top: 10rem;
}
.reivew_wrapper .reivew_itesm_section {
  padding: 3rem;
  background: #ffffff;
  border: 1px solid #dedede;

  border-radius: 5px;
}
.reivew_wrapper .reivew_itesm_section img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.reivew_wrapper .reivew_itesm_section p {
  color: var(--gray-color-6c);
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.2px;
  margin-top: 3rem;
}
.reivew_wrapper .reivew_itesm_section .rating_icon {
  margin: 1rem 0;
}
.reivew_wrapper .reivew_itesm_section .rating_icon i {
  color: var(--orange-color-E7);
  font-size: 2rem;
}

.reivew_wrapper .reivew_itesm_section h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--sky-color-23);
}
.reivew_wrapper .reivew_itesm_section h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;

  color: #252b42;
}

/* ============= FAQ Section ============= */
.faq_wrapper {
  margin-top: 10rem;
}
.faq_wrapper .faq_img img {
  width: 42rem;
  height: 40rem;
}
.faq_wrapper .accordion-button {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #383838;
}
.faq_wrapper .accordion-body p {
  font-size: 16px;
  line-height: 28px;

  color: #7e848c;
}

/* ============== Best Sales Section ==============  */
.upcoming_wrapper {
  margin-top: 10rem;
}
.upcoming_wrapper table {
  width: 100%;
  text-align: center;
}
.upcoming_wrapper table {
  margin-top: 3rem;
  border-collapse: collapse;
}
.upcoming_wrapper thead {
  background-color: var(--black-color-18);
}
.upcoming_wrapper table th {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white-color);
  padding: 0.7rem 0;
}
.upcoming_wrapper tbody tr:nth-child(2n + 1) {
  background-color: #0a0826c0;
}
.upcoming_wrapper tbody tr:nth-child(2n + 2) {
  background-color: #0b0d17;
}
.upcoming_wrapper tbody tr:hover {
  background-color: rgba(65, 65, 65, 0.746);
}
.upcoming_wrapper tbody td {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-color);
  padding: 1.2rem 0;
}

/* ============== Salesman Section ==============  */
.top_coach_wrapper {
  margin-top: 10rem;
}
.top_coach_wrapper .coach_items_area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  margin-top: 3rem;
}
.top_coach_wrapper .coach_items {
  padding: 1.5rem;
  background: var(--white-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.top_coach_wrapper .coach_items img {
  width: 100%;
  height: 25rem;
}
.top_coach_wrapper .coachs_content h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}
.top_coach_wrapper .coachs_icon {
  display: flex;
  align-items: center;
  text-align: center;
}
.top_coach_wrapper .coachs_icon li {
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0.5rem;
  background: var(--black-color-18);
  opacity: 0.2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.top_coach_wrapper .coachs_icon li:not(:first-child) {
  margin-left: 1rem;
}

.top_coach_wrapper .coachs_icon i {
  font-size: 1.8rem;
  color: rgb(253, 0, 0);
}
.top_coach_wrapper .coachs_icon li:hover {
  background-color: var(--orange-color-E7);
  opacity: 1;
}
.top_coach_wrapper .coachs_icon li:hover i {
  color: var(--white-color);
}

/* ============= Section ============= */

/* ============= Section ============= */
/* ============= Section ============= */

/* ============= Section ============= */
/* ============= Section ============= */

/* ============= Footer Section ============= */
.footer_wrapper {
  margin-top: 10rem;
  padding: 4rem 0 6rem 0;
  background: #0b0d17;
}
.footer_wrapper .footer_items_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer_wrapper .footer_menu_area a {
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-color);
}
.footer_wrapper .footer_menu_area a:hover {
  color: var(--sky-color-23);
}
.footer_wrapper .footer_menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.footer_wrapper .footer_menu li:not(:first-child),
.download_text a:nth-child(2) {
  margin-left: 2rem;
}
.footer_wrapper .footer_social_area li:nth-child(1) {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9dbe1;
}
.footer_wrapper .footer_social_area li:not(:first-child) {
  margin-top: 1rem;
}
